name: GH build for ezcv

on:
  workflow_dispatch:
    inputs:
      version_number:
        description: the version number
        required: true
      description:
        description: description of the changes
        required: true

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
    - name: Checkout repo
      uses: actions/checkout@v2

    - name: Setup Python
      uses: actions/setup-python@v2

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        python -m pip install --upgrade setuptools wheel
        python -m pip install ezcv

    - name: build html files
      run: |
        python -m ezcv build

    - name: Deploy Docs
      uses: peaceiris/actions-gh-pages@v3
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        publish_dir: site

    - name: Print inputs
      run: echo Inputs are ${{ inputs.version_number }} ${{ inputs.description }}
    
    - name: Crush images
      uses: crush-pics/crush-pics-github-action@master
      with:
        repo-token: ${{ secrets.GITHUB_TOKEN }}
        api-key: ${{ secrets.CRUSH_API_KEY }}

